* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    gap: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 10px;
    width: 450px;
    padding: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 15px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(232, 232, 232);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    font-size: 14px;
}

.error-message {
    color: red;
}